@import './base.css';

#app {
  width: 100%;
  min-width: 700px;
  margin: 0 auto;
  font-weight: normal;
  scrollbar-color: #41639C #FFE900; /* Para chrome */
  
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFE900 #41639C;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
